.block-editor .layout-navbar.bg-navbar-theme {
	background-color: #0c0d0e !important;
	width: 100%;
	border-radius: 0;
}
.btn-publish {
	border: 1px solid #fff;
	border-radius: 4px;
	font-weight: bold;
	padding: 8px 17px;
}
.btn-publish:hover {
	color: #000;
}
.editor-content-wrapper {
	height: 100%;
    padding: 0px 30px;
}
.editor-widgets-header h2 {
	width: 100%;
	text-align: center;
	font-size: 17px;
	margin: 0;
	color: #000;
}
.editor-widgets-header {
	border-bottom: 1px solid #dedede;
}

.widgets-list ul {
    list-style-type: none; 
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
}

.widget-items h6 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.widget-items ul li {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px;
    margin: 0;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    background-color: #f8f9fa; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s, box-shadow 0.3s; 
    width: 100%; 
    text-align: center; 
    cursor: move;
}
.widget-items ul li.click-action{
    cursor: pointer;
}

.widget-items ul li:hover {
    background-color: #e9ecef;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.widget-icon {
    color: #6c757d; 
    margin-bottom: 10px; 
    font-size: 24px; 
}

.widget-items ul li h6 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.widget-items ul li p {
    margin: 0;
    font-size: 14px; 
    color: #6c757d;
}

/* row container that takes full width */
.row-container {
    width: 100%; /* Full width of its parent container */
    padding: 20px;
    border: 2px dotted #007bff; /* Dotted border */
    display: flex; /* Use flexbox to center the icon */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 200px; /* Set a fixed height for the box */
    margin-top: 20px; /* Add some space on top */
    background-color: #f8f9fa; /* Light background color */
    border-radius: 8px; /* Optional: Add rounded corners for styling */
}

/* Plus icon styling */
.plus-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.plus-icon {
    color: #007bff; /* Blue color for the plus icon */
    cursor: pointer; /* Change cursor to pointer when hovering over the icon */
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

.plus-icon:hover {
    color: #0056b3; /* Darker blue on hover */
}

.content-wrapper.editor-content-wrapper {
	width: 77%;
	float: left;
}
.editor-left-sidebar {
	width: 23%;
	float: left;
	height: 87VH;
}

.row-wraper {
	margin: 10px 0;
	cursor: move;
}
.inner-cols {
	border: 1px solid #dedede;
	text-align: center;
	display: inline-block;
	padding: 13px;
	margin: 1px;
	font-size: 13px;
	background: #f8f9fa;
    border-radius: 2px;
}
.col-4-row .inner-cols {
	width: 24.2%;
}
.col-3-row .inner-cols {
	width: 32.6%;
}
.col-2-row .inner-cols {
	width: 49.2%;
}

.body-content {
	z-index: 0;
}
.block-editor .layout-navbar.bg-navbar-theme{
    z-index: 1;
}
.icon-link.btn-link:hover {
	background: transparent;
}
.icon-link.btn-link {
	color: #fff;
}


.tooltip-btn {
    position: relative; 
  }
  
  .tooltip-text {
    visibility: hidden;
    position: absolute;
    bottom: -39px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 10px 12px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    white-space: nowrap;
    display: inline-block;
    min-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
  }
  
  .tooltip-btn:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  

  .tab-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .tabs {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #ddd;
  }
  
  .tab {
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #555;
  }
  
  .tab .tab-icon {
    font-size: 14px;
    margin-bottom: 6px; /* Space between icon and text */
  }
  
  .tab .tab-text {
    font-size: 14px; /* Adjust text size */
  }
  
  .tab.active {
    border-bottom: 2px solid #000;
    color: #000;
  }
  
  .tab-content {
    margin-top: 20px;
    padding: 0 !important; 
    font-size: 14px;
  }
  
  .widgets-content .accordion-header h3 {
	margin: 0;
	color: #000;
	font-size: 14px;
	font-weight: 700;
}
.accordion-header {
	cursor: pointer;
}
.form-select {
	font-size: 13px;
}


select.form-select.unit-field {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	padding: 9px 12px;
	width: 40px;
}
  
.icon-link {
  display: inline-block;
  padding: 10px;
  border: 1px solid transparent; 
  border-radius: 50%; 
  background-color: transparent; 
  transition: all 0.3s ease;
  color: #333; 
}

.icon-link.active {
	color: gray;
}

.icon-link:hover {
  cursor: pointer;
  color: gray;
}
